---
layout: default
---

<!-- Default post with image -->
<article class="post default">
  <section class="main clear">
    <p class="mytitle">{{ page.title }}</p>
    <p><em>{{ page.date | date:"%m-%d-%Y" }}</em></p>
    <div class="content">

      {{ content }}

    </div>
  </section>

  <section class="about clear">
  <ul class="sharebuttons" style="text-align:center; margin-left: 165px;">
    <li>
      <a href="http://twitter.com/home?status={{ page.title }} - http://api.report{{ page.url }} via @apireport" target="_bank"><img src="https://s3.amazonaws.com/kinlane-productions/icons/twitter.png" width="25" /></a>
    </li>
    <li>
      <a href="http://www.facebook.com/share.php?u=http://api.report{{ page.url }}&title=http://api.report{{ page.title }}" target="_bank"><img src="https://s3.amazonaws.com/kinlane-productions/icons/facebook.png" width="25" /></a>
    </li>
    <li>
      <a href="http://www.linkedin.com/shareArticle?mini=true&url=http://api.report{{ page.url }}&title={{ page.title }}&source=api.report" target="_bank"><img src="https://s3.amazonaws.com/kinlane-productions/icons/linkedin.png" width="25" /></a>
    </li>
    <li>
      <a href="https://plus.google.com/share?url=http://api.report{{ page.url }}" target="_bank"><img src="https://s3.amazonaws.com/kinlane-productions/icons/google-plus.png" width="25" /></a>
    </li>
    <li>
      <a href="http://www.tumblr.com/share?v=3&u=http://api.report{{ page.url }}&t=http://api.report{{ page.title }}" target="_bank"><img src="https://s3.amazonaws.com/kinlane-productions/icons/tumblr.png" width="25" /></a>
    </li>
    <li>
      <a href="http://www.reddit.com/submit?url=http://api.report{{ page.url }}&title=http://api.report{{ page.title }}" target="_bank"><img src="https://s3.amazonaws.com/kinlane-productions/icons/reddit.png" width="25" /></a>
    </li>
    <li>
      <a href="http://news.ycombinator.com/submitlink?u=http://api.report{{ page.url }}&t=http://api.report{{ page.title }}" target="_bank"><img src="https://s3.amazonaws.com/kinlane-productions/icons/hackernews.jpeg" width="25" /></a>
    </li>
  </ul>
  </section>

  <div class="row" align="center" style="padding-top: 10px; padding-bottom: 10px;">
      <div class="pagination">
        <ul>
        {% if page.previous %}
          <li class="prev"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">Previous</a></li>
        {% else %}
          <li class="prev disabled"><a>Previous</a></li>
        {% endif %}

        {% if page.next %}
          <li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Next</a></li>
        {% else %}
          <li class="next disabled"><a>Next</a>
        {% endif %}
        </ul>
      </div>
  </div>

</article>
